@font-face {
  font-family: 'Trip';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/Art-nuvo.otf');
}

:root {
  --font: #FFEB00;
  --border: #FF01D7;
}

.App {
  text-align: center;
  font-family: 'Trip';
  font-size: 20px;
}

.title {
  color: var(--font);
}

.ControlBar {
  width: 50%;
  margin: auto;
  padding: 20px;
}

.Header {
  padding-bottom: 20px;
}

.controlTitle {
  color: var(--font);
}

#butt {
  text-transform: none;
  font-family: 'Trip';
  font-size: 20px;
}

#red {
  color: rgb(255, 0, 0);
}

#green {
  color: rgb(0, 255, 0);
}

#blue {
  color: rgb(0, 0, 255);
}

.controlCard {
  overflow: hidden;
  padding: 20px;
  padding-top: 0px;
  border-color: var(--border);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin-top: 10px;
}